<% error = @reservation.errors.key?(:time) && @reservation.errors[:time].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :time, :class => 'control-label' %>
  <div class='controls'>
    <%= f.datetime_local_field :time, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true %>
    <span class='help-inline'><%= error ? f.error_message_on(:time) : "In format: yyyy-mm-ddThh:mm" %></span>
  </div>
</fieldset>
<% error = @reservation.errors.key?(:user_id) && @reservation.errors[:user_id].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :user_id, :class => 'control-label' %>
  <div class='controls'>
    <%= f.select :user_id, :options => @users.map {|u| [u.display_name, u.id]}, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:user_id) : "" %></span>
  </div>
</fieldset>
<% error = @reservation.errors.key?(:recreation_id) && @reservation.errors[:recreation_id].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :recreation_id, :class => 'control-label' %>
  <div class='controls'>
    <%= f.select :recreation_id, :options => @recreations.map {|r| [r.name, r.id]}, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:recreation_id) : "" %></span>
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:reservations, :index), :class => 'btn btn-default' %>
</div>