<% error = @recreation.errors.key?(:name) && @recreation.errors[:name].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :name, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :name, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true %>
    <span class='help-inline'><%= error ? f.error_message_on(:name) : "" %></span>
  </div>
</fieldset>
<% f.fields_for :reservation_settings do |settings_form| %>
<% if settings_form.object.saved? %>
  <%= settings_form.hidden_field :id %>
  <%= settings_form.hidden_field :recreation_id %>
<% end %>
<% error = @recreation.reservation_settings.errors.key?(:for_time) && @recreation.reservation_settings.errors[:for_time].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= settings_form.label :for_time, :class => 'control-label' %>
  <div class='controls'>
    <%= settings_form.time_field :for_time, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? settings_form.error_message_on(:for_time) : 'For how long in format HH:MM' %></span>
  </div>
</fieldset>
<% error = @recreation.reservation_settings.errors.key?(:slots) && @recreation.reservation_settings.errors[:slots].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= settings_form.label :slots, :class => 'control-label' %>
  <div class='controls'>
    <%= settings_form.number_field :slots, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? settings_form.error_message_on(:slots) : 'Max number of reservations for one day for one user' %></span>
  </div>
</fieldset>
<% error = @recreation.reservation_settings.errors.key?(:available_from) && @recreation.reservation_settings.errors[:available_from].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= settings_form.label :available_from, :class => 'control-label' %>
  <div class='controls'>
    <%= settings_form.time_field :available_from, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? settings_form.error_message_on(:available_from) : 'Recreation available from time in format HH:MM' %></span>
  </div>
</fieldset>
<% error = @recreation.reservation_settings.errors.key?(:available_to) && @recreation.reservation_settings.errors[:available_to].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= settings_form.label :available_to, :class => 'control-label' %>
  <div class='controls'>
    <%= settings_form.time_field :available_to, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? settings_form.error_message_on(:available_to) : 'Recreation available to time in format HH:MM' %></span>
  </div>
</fieldset>
<fieldset class="control-group <%= error ? 'has-error' : ''%>'">
  <%= settings_form.label :weekdays, :class => 'control-label' %>
  <div class='controls'>
    <% [ :monday, :tuesday, :wednesday, :thursday, :friday, :saturday, :sunday ].each do |day| %>
      <label class="checkbox-inline"><input type="checkbox" name="recreation[reservation_settings_attributes][weekdays][]" value="<%= day %>" <%= 'checked' if @recreation.reservation_settings.weekdays.include? day %> /><%= day.to_s.capitalize %></label>
    <% end %>
  </div>
</fieldset>
<% end %>

<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:recreations, :index), :class => 'btn btn-default' %>
</div>