<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name=viewport content='width=device-width,initial-scale=1' />
    <title>Reservations 2.0</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=Km2L0m6RLr">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=Km2L0m6RLr">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=Km2L0m6RLr">
    <link rel="manifest" href="/manifest.json?v=Km2L0m6RLr">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=Km2L0m6RLr" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon.ico?v=Km2L0m6RLr">
    <meta name="theme-color" content="#ffffff">
    <%= javascript_include_tag 'jquery.min', 'bootstrap.min', 'jquery-ujs', 'bootstrap-editable.min', 'hammer.min', 'jquery.hammer', 'application' %>
    <%= stylesheet_link_tag 'bootstrap.min', 'bootstrap-theme.min', 'bootstrap-editable.min', 'flaticon', 'application' %>
    <script type="application/javascript">
      var CSRF = "<%= session[:csrf] %>";
      var prevUrl = "?date=<%= @date.advance({:days => -1}).strftime("%Y-%m-%d") %>";
      var nextUrl = "?date=<%= @date.advance({:days => 1}).strftime("%Y-%m-%d") %>";
    </script>
  </head>
  <body>
    <%= partial(:'reservations/navbar') %>

    <div data-control="alert-container">
      <%= {:error => 'danger', :warning => 'warning', :success => 'success', :notice => 'info'}.map { |type, class_name| flash_tag(type, :class => "alert alert-#{class_name} fade in", :bootstrap => true) }.join.html_safe %>
    </div>

    <div data-control="main" class='main'>
      <% unless request.mobile_browser? %>
        <div data-control="prev" class="next-prev prev">
          <a href="?date=<%= @date.advance({:days => -1}).strftime("%Y-%m-%d") %>"><span class="glyphicon glyphicon-download" aria-hidden="true"></span></a>
        </div>
      <% end %>
      <%= yield %>
      <% unless request.mobile_browser? %>
      <div data-control="next" class="next-prev next">
        <a href="?date=<%= @date.advance({:days => 1}).strftime("%Y-%m-%d") %>"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span></a>
      </div>
      <% end %>
    </div>

    <div class="hide">
      <%= partial(:'reservations/templates') %>
    </div>
    <footer>
      <div data-control="footer" class='footer-wrapper container-fluid'>
        <p class='pull-left'>Copyright &copy; 2017-2018 Michał Żarłok<br>Icons of recreations made by Freepik from www.flaticon.com</p>
      </div>
    </footer>
  </body>
</html>